.Navbar {
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  height: 60px;
  border-bottom: 1px solid gray;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right-side {
    display: flex;
    gap: 20px;
    align-items: center;

    .logout {
      display: flex;
      font-size: 1.8rem;
      align-items: center;
    }
  }
}
